version: "3.9"

services:
  keywatch-app:
    build: .
    container_name: keywatch-app
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
    volumes:
      - .:/app
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - DB_NAME=fraud-detection
      - COLLECTION_NAME=transactions
      - LOGS_COLLECTION=Logs

  mongodb:
    image: mongo:5.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: